In [78]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [79]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [80]:
# Preproceess the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname','Exited'], axis=1)

In [81]:
# Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [82]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,0,42,2,0.00,1,1,1,101348.88
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58
2,502,France,0,42,8,159660.80,3,1,0,113931.57
3,699,France,0,39,1,0.00,2,0,0,93826.63
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64
9996,516,France,1,35,10,57369.61,1,1,1,101699.77
9997,709,France,0,36,7,0.00,1,0,1,42085.58
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52
9999,792,France,0,28,4,130142.79,1,1,0,38190.78

In [83]:
# One-hot encode 'Geography'
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [84]:
# Combine one-hot encoded columns with original data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0.0,0.0,1.0

In [85]:
data.columns

Index(['CreditScore', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts',
       'HasCrCard', 'IsActiveMember', 'EstimatedSalary', 'Geography_France',
       'Geography_Germany', 'Geography_Spain'],
      dtype='object')

In [86]:
# Split the data into features and target
X = data.drop(['EstimatedSalary'], axis=1)
y = data['EstimatedSalary']

In [61]:
X

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,1.0,0.0,0.0

In [62]:
y

0       101348.88
1       112542.58
2       113931.57
3        93826.63
4        79084.10
          ...
9995     96270.64
9996    101699.77
9997     42085.58
9998     92888.52
9999     38190.78
Name: EstimatedSalary, Length: 10000, dtype: float64

In [87]:
# save sdefault (mean for num , mode for categ )
default ={}
for col in X.columns:
    if X[col].dtype=="object":
        default[col]=X[col].mode()[0]
    else:
        default[col]=X[col].mean()

In [64]:
default

{'CreditScore': np.float64(650.5288),
 'Gender': np.float64(0.5457),
 'Age': np.float64(38.9218),
 'Tenure': np.float64(5.0128),
 'Balance': np.float64(76485.889288),
 'NumOfProducts': np.float64(1.5302),
 'HasCrCard': np.float64(0.7055),
 'IsActiveMember': np.float64(0.5151),
 'Geography_France': np.float64(0.5014),
 'Geography_Germany': np.float64(0.2509),
 'Geography_Spain': np.float64(0.2477)}

In [88]:
## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [89]:
## Scale these features
scaler_reg=StandardScaler()
X_train=scaler_reg.fit_transform(X_train)
X_test=scaler_reg.transform(X_test)

In [90]:
# Save the encoders and scaler for later use
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler_reg.pkl', 'wb') as file:
    pickle.dump(scaler_reg, file)

#### ANN Regression Problem statement

In [91]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [92]:
# Build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # Output layer for regression
])

## compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

g:\Gen AI-Krish Naik\3. Deep Learning\2. ANN- Churn Modeling - classification\venv\Lib\site-packages\keras\src\layers\core\dense.py:92: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_3"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_9 (Dense)                 │ (None, 64)             │           768 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_10 (Dense)                │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_11 (Dense)                │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,881 (11.25 KB)

 Trainable params: 2,881 (11.25 KB)

 Non-trainable params: 0 (0.00 B)

In [93]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [94]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [95]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 8ms/step - loss: 100374.9844 - mae: 100374.9844 - val_loss: 98503.1016 - val_mae: 98503.1016
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 99557.0391 - mae: 99557.0391 - val_loss: 96847.9844 - val_mae: 96847.9844
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 96658.3906 - mae: 96658.3906 - val_loss: 92619.4219 - val_mae: 92619.4219
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 90974.5391 - mae: 90974.5391 - val_loss: 85587.4766 - val_mae: 85587.4766
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 82752.8047 - mae: 82752.8047 - val_loss: 76629.3516 - val_mae: 76629.3516
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 73323.8281 - mae: 73323.8281 - val_loss: 67537.5234 - val_mae: 67537.5234
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 64400.3867 - mae: 64400.3867 - val_loss: 59833.7383 - val_mae: 59833.7383
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 57514.5742 - mae: 57514.5742 - val_loss: 54606.8789 - val_mae: 54606.8789
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 53319.9258 - mae: 53319.9258 - val_loss: 51937.6875 - val_mae: 51937.6875
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 51213.9336 - mae: 51213.9336 - val_loss: 50821.9844 - val_mae: 50821.9844
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 50368.5039 - mae: 50368.5039 - val_loss: 50535.2891 - val_mae: 50535.2891
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 50090.8789 - mae: 50090.8789 - val_loss: 50479.1875 - val_mae: 50479.1875
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49989.1094 - mae: 49989.1094 - val_loss: 50469.4961 - val_mae: 50469.4961
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49934.0430 - mae: 49934.0430 - val_loss: 50459.8594 - val_mae: 50459.8594
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49900.8555 - mae: 49900.8555 - val_loss: 50447.8125 - val_mae: 50447.8125
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49869.3125 - mae: 49869.3125 - val_loss: 50438.9062 - val_mae: 50438.9062
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 7ms/step - loss: 49848.3867 - mae: 49848.3867 - val_loss: 50414.7148 - val_mae: 50414.7148
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49825.3320 - mae: 49825.3320 - val_loss: 50412.6055 - val_mae: 50412.6055
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 7ms/step - loss: 49809.0898 - mae: 49809.0898 - val_loss: 50408.3633 - val_mae: 50408.3633
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - loss: 49791.9453 - mae: 49791.9453 - val_loss: 50396.5977 - val_mae: 50396.5977
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49776.9023 - mae: 49776.9023 - val_loss: 50393.9102 - val_mae: 50393.9102
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49759.1836 - mae: 49759.1836 - val_loss: 50392.6172 - val_mae: 50392.6172
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49744.9258 - mae: 49744.9258 - val_loss: 50384.5977 - val_mae: 50384.5977
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - loss: 49728.5000 - mae: 49728.5000 - val_loss: 50378.9375 - val_mae: 50378.9375
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49717.5234 - mae: 49717.5234 - val_loss: 50371.6836 - val_mae: 50371.6836
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49704.3594 - mae: 49704.3594 - val_loss: 50372.0078 - val_mae: 50372.0078
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49692.3281 - mae: 49692.3281 - val_loss: 50372.2305 - val_mae: 50372.2305
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49681.5234 - mae: 49681.5234 - val_loss: 50374.8945 - val_mae: 50374.8945
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49672.9766 - mae: 49672.9766 - val_loss: 50358.1523 - val_mae: 50358.1523
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49663.9336 - mae: 49663.9336 - val_loss: 50355.6094 - val_mae: 50355.6094
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49650.2383 - mae: 49650.2383 - val_loss: 50361.5977 - val_mae: 50361.5977
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49641.9492 - mae: 49641.9492 - val_loss: 50357.9453 - val_mae: 50357.9453
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49633.7188 - mae: 49633.7188 - val_loss: 50353.4727 - val_mae: 50353.4727
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49625.5508 - mae: 49625.5508 - val_loss: 50349.3359 - val_mae: 50349.3359
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49617.5898 - mae: 49617.5898 - val_loss: 50344.9727 - val_mae: 50344.9727
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 7ms/step - loss: 49606.9141 - mae: 49606.9141 - val_loss: 50351.2344 - val_mae: 50351.2344
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49599.6367 - mae: 49599.6367 - val_loss: 50348.9102 - val_mae: 50348.9102
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49591.1211 - mae: 49591.1211 - val_loss: 50349.7656 - val_mae: 50349.7656
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49583.7930 - mae: 49583.7930 - val_loss: 50359.0117 - val_mae: 50359.0117
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49580.3945 - mae: 49580.3945 - val_loss: 50351.3438 - val_mae: 50351.3438
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49569.9258 - mae: 49569.9258 - val_loss: 50352.3711 - val_mae: 50352.3711
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49567.5469 - mae: 49567.5469 - val_loss: 50354.7148 - val_mae: 50354.7148
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 7ms/step - loss: 49558.6445 - mae: 49558.6445 - val_loss: 50348.7773 - val_mae: 50348.7773
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49556.4688 - mae: 49556.4688 - val_loss: 50358.7305 - val_mae: 50358.7305
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49548.7266 - mae: 49548.7266 - val_loss: 50356.6289 - val_mae: 50356.6289

In [96]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [97]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 8484), started 18:14:37 ago. (Use '!kill 8484' to kill it.)

In [98]:
## Evaluate model on the test data
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE : {test_mae}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 50344.9727 - mae: 50344.9727
Test MAE : 50344.97265625

In [99]:
model.save('Regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.