In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [2]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
# Preproceess the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [4]:
# Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [5]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [6]:
# One-hot encode 'Geography'
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [7]:
# Combine one-hot encoded columns with original data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [26]:
data.columns

Index(['CreditScore', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts',
       'HasCrCard', 'IsActiveMember', 'EstimatedSalary', 'Exited',
       'Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype='object')

In [8]:
# Split the data into features and target
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [23]:
X

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,0,1.0,0.0,0.0

In [25]:
y

0       101348.88
1       112542.58
2       113931.57
3        93826.63
4        79084.10
          ...
9995     96270.64
9996    101699.77
9997     42085.58
9998     92888.52
9999     38190.78
Name: EstimatedSalary, Length: 10000, dtype: float64

In [9]:
# save sdefault (mean for num , mode for categ )
default ={}
for col in X.columns:
    if X[col].dtype=="object":
        default[col]=X[col].mode()[0]
    else:
        default[col]=X[col].mean()

In [10]:
default

{'CreditScore': np.float64(650.5288),
 'Gender': np.float64(0.5457),
 'Age': np.float64(38.9218),
 'Tenure': np.float64(5.0128),
 'Balance': np.float64(76485.889288),
 'NumOfProducts': np.float64(1.5302),
 'HasCrCard': np.float64(0.7055),
 'IsActiveMember': np.float64(0.5151),
 'Exited': np.float64(0.2037),
 'Geography_France': np.float64(0.5014),
 'Geography_Germany': np.float64(0.2509),
 'Geography_Spain': np.float64(0.2477)}

In [11]:
## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [12]:
## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [13]:
# Save the encoders and scaler for later use
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

#### ANN Regression Problem statement

In [14]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [15]:
# Build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # Output layer for regression
])

## compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

g:\Gen AI-Krish Naik\3. Deep Learning\2. ANN- Churn Modeling - classification\venv\Lib\site-packages\keras\src\layers\core\dense.py:92: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [16]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [17]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [18]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 7s 12ms/step - loss: 100381.9453 - mae: 100381.9453 - val_loss: 98532.3672 - val_mae: 98532.3672
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 99667.5703 - mae: 99667.5703 - val_loss: 97086.5938 - val_mae: 97086.5938
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 97108.6094 - mae: 97108.6094 - val_loss: 93285.5234 - val_mae: 93285.5234
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 7ms/step - loss: 91894.4141 - mae: 91894.4141 - val_loss: 86742.4844 - val_mae: 86742.4844
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 84223.5312 - mae: 84223.5312 - val_loss: 78283.4688 - val_mae: 78283.4688
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 7ms/step - loss: 75129.3359 - mae: 75129.3359 - val_loss: 69358.5312 - val_mae: 69358.5312
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 7ms/step - loss: 66292.2109 - mae: 66292.2109 - val_loss: 61504.7266 - val_mae: 61504.7266
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 59151.1172 - mae: 59151.1172 - val_loss: 55718.4492 - val_mae: 55718.4492
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 54433.8398 - mae: 54433.8398 - val_loss: 52461.5781 - val_mae: 52461.5781
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 51902.0039 - mae: 51902.0039 - val_loss: 51025.3789 - val_mae: 51025.3789
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 6ms/step - loss: 50816.3945 - mae: 50816.3945 - val_loss: 50580.7070 - val_mae: 50580.7070
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 50411.8125 - mae: 50411.8125 - val_loss: 50466.3906 - val_mae: 50466.3906
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 50255.6406 - mae: 50255.6406 - val_loss: 50429.9102 - val_mae: 50429.9102
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 50177.8633 - mae: 50177.8633 - val_loss: 50403.2656 - val_mae: 50403.2656
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 50122.4648 - mae: 50122.4648 - val_loss: 50385.1641 - val_mae: 50385.1641
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 50078.5625 - mae: 50078.5625 - val_loss: 50366.1875 - val_mae: 50366.1875
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 50035.3906 - mae: 50035.3906 - val_loss: 50359.4609 - val_mae: 50359.4609
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 50001.3320 - mae: 50001.3320 - val_loss: 50348.5312 - val_mae: 50348.5312
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49969.0703 - mae: 49969.0703 - val_loss: 50338.0938 - val_mae: 50338.0938
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49937.6641 - mae: 49937.6641 - val_loss: 50326.6836 - val_mae: 50326.6836
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49913.3242 - mae: 49913.3242 - val_loss: 50317.2305 - val_mae: 50317.2305
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 7ms/step - loss: 49886.2539 - mae: 49886.2539 - val_loss: 50315.4062 - val_mae: 50315.4062
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49861.6445 - mae: 49861.6445 - val_loss: 50317.4414 - val_mae: 50317.4414
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49840.2148 - mae: 49840.2148 - val_loss: 50312.3242 - val_mae: 50312.3242
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49818.9141 - mae: 49818.9141 - val_loss: 50311.2695 - val_mae: 50311.2695
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49799.6758 - mae: 49799.6758 - val_loss: 50304.5781 - val_mae: 50304.5781
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49779.9102 - mae: 49779.9102 - val_loss: 50297.3750 - val_mae: 50297.3750
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 6ms/step - loss: 49764.2148 - mae: 49764.2148 - val_loss: 50294.9570 - val_mae: 50294.9570
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 6ms/step - loss: 49747.3438 - mae: 49747.3438 - val_loss: 50292.8008 - val_mae: 50292.8008
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49730.1562 - mae: 49730.1562 - val_loss: 50300.3438 - val_mae: 50300.3438
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49715.8672 - mae: 49715.8672 - val_loss: 50288.5742 - val_mae: 50288.5742
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 7ms/step - loss: 49698.6797 - mae: 49698.6797 - val_loss: 50284.6758 - val_mae: 50284.6758
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 6ms/step - loss: 49688.7695 - mae: 49688.7695 - val_loss: 50287.4727 - val_mae: 50287.4727
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49676.2773 - mae: 49676.2773 - val_loss: 50288.2734 - val_mae: 50288.2734
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49661.7930 - mae: 49661.7930 - val_loss: 50281.2344 - val_mae: 50281.2344
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49649.5742 - mae: 49649.5742 - val_loss: 50274.2422 - val_mae: 50274.2422
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 7ms/step - loss: 49641.0430 - mae: 49641.0430 - val_loss: 50266.6133 - val_mae: 50266.6133
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49629.4297 - mae: 49629.4297 - val_loss: 50260.9531 - val_mae: 50260.9531
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 6ms/step - loss: 49618.7891 - mae: 49618.7891 - val_loss: 50261.9141 - val_mae: 50261.9141
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49611.0938 - mae: 49611.0938 - val_loss: 50274.8789 - val_mae: 50274.8789
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49597.3281 - mae: 49597.3281 - val_loss: 50250.0625 - val_mae: 50250.0625
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49586.3711 - mae: 49586.3711 - val_loss: 50269.3516 - val_mae: 50269.3516
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49580.8320 - mae: 49580.8320 - val_loss: 50268.0625 - val_mae: 50268.0625
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49567.4023 - mae: 49567.4023 - val_loss: 50252.6836 - val_mae: 50252.6836
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 7ms/step - loss: 49560.9414 - mae: 49560.9414 - val_loss: 50248.5664 - val_mae: 50248.5664
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49550.4727 - mae: 49550.4727 - val_loss: 50244.4492 - val_mae: 50244.4492
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49543.4336 - mae: 49543.4336 - val_loss: 50240.6797 - val_mae: 50240.6797
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 7ms/step - loss: 49535.3984 - mae: 49535.3984 - val_loss: 50242.6445 - val_mae: 50242.6445
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 7ms/step - loss: 49526.8633 - mae: 49526.8633 - val_loss: 50249.0234 - val_mae: 50249.0234
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 12ms/step - loss: 49518.8398 - mae: 49518.8398 - val_loss: 50241.9922 - val_mae: 50241.9922
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 7ms/step - loss: 49507.9648 - mae: 49507.9648 - val_loss: 50246.5898 - val_mae: 50246.5898
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 7ms/step - loss: 49502.7617 - mae: 49502.7617 - val_loss: 50247.6562 - val_mae: 50247.6562
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49497.1680 - mae: 49497.1680 - val_loss: 50247.1562 - val_mae: 50247.1562
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49489.3086 - mae: 49489.3086 - val_loss: 50261.8164 - val_mae: 50261.8164
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 7ms/step - loss: 49483.5938 - mae: 49483.5938 - val_loss: 50254.6289 - val_mae: 50254.6289
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49475.8672 - mae: 49475.8672 - val_loss: 50269.7969 - val_mae: 50269.7969
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49473.2148 - mae: 49473.2148 - val_loss: 50267.8125 - val_mae: 50267.8125

In [19]:
%load_ext tensorboard

In [20]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 8484), started 14:03:40 ago. (Use '!kill 8484' to kill it.)

In [21]:
## Evaluate model on the test data
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE : {test_mae}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 50240.6797 - mae: 50240.6797
Test MAE : 50240.6796875

In [22]:
model.save('regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.