In [52]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [53]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [54]:
# Preproceess the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname','Exited'], axis=1)

In [55]:
# Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [56]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,0,42,2,0.00,1,1,1,101348.88
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58
2,502,France,0,42,8,159660.80,3,1,0,113931.57
3,699,France,0,39,1,0.00,2,0,0,93826.63
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64
9996,516,France,1,35,10,57369.61,1,1,1,101699.77
9997,709,France,0,36,7,0.00,1,0,1,42085.58
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52
9999,792,France,0,28,4,130142.79,1,1,0,38190.78

In [57]:
# One-hot encode 'Geography'
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [58]:
# Combine one-hot encoded columns with original data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0.0,0.0,1.0

In [59]:
data.columns

Index(['CreditScore', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts',
       'HasCrCard', 'IsActiveMember', 'EstimatedSalary', 'Geography_France',
       'Geography_Germany', 'Geography_Spain'],
      dtype='object')

In [60]:
# Split the data into features and target
X = data.drop(['EstimatedSalary'], axis=1)
y = data['EstimatedSalary']

In [61]:
X

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,1.0,0.0,0.0

In [62]:
y

0       101348.88
1       112542.58
2       113931.57
3        93826.63
4        79084.10
          ...
9995     96270.64
9996    101699.77
9997     42085.58
9998     92888.52
9999     38190.78
Name: EstimatedSalary, Length: 10000, dtype: float64

In [63]:
# save sdefault (mean for num , mode for categ )
default ={}
for col in X.columns:
    if X[col].dtype=="object":
        default[col]=X[col].mode()[0]
    else:
        default[col]=X[col].mean()

In [64]:
default

{'CreditScore': np.float64(650.5288),
 'Gender': np.float64(0.5457),
 'Age': np.float64(38.9218),
 'Tenure': np.float64(5.0128),
 'Balance': np.float64(76485.889288),
 'NumOfProducts': np.float64(1.5302),
 'HasCrCard': np.float64(0.7055),
 'IsActiveMember': np.float64(0.5151),
 'Geography_France': np.float64(0.5014),
 'Geography_Germany': np.float64(0.2509),
 'Geography_Spain': np.float64(0.2477)}

In [65]:
## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [66]:
## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [67]:
# Save the encoders and scaler for later use
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

#### ANN Regression Problem statement

In [68]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [69]:
# Build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # Output layer for regression
])

## compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

g:\Gen AI-Krish Naik\3. Deep Learning\2. ANN- Churn Modeling - classification\venv\Lib\site-packages\keras\src\layers\core\dense.py:92: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_2"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_6 (Dense)                 │ (None, 64)             │           768 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_7 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_8 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,881 (11.25 KB)

 Trainable params: 2,881 (11.25 KB)

 Non-trainable params: 0 (0.00 B)

In [70]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [71]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [72]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 9ms/step - loss: 100383.3828 - mae: 100383.3828 - val_loss: 98533.3672 - val_mae: 98533.3672
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 99685.2891 - mae: 99685.2891 - val_loss: 97124.5078 - val_mae: 97124.5078
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 9ms/step - loss: 97228.5156 - mae: 97228.5156 - val_loss: 93510.5469 - val_mae: 93510.5469
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - loss: 92359.1406 - mae: 92359.1406 - val_loss: 87399.3750 - val_mae: 87399.3750
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 85171.9141 - mae: 85171.9141 - val_loss: 79329.9766 - val_mae: 79329.9766
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 76449.6016 - mae: 76449.6016 - val_loss: 70566.0312 - val_mae: 70566.0312
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 9ms/step - loss: 67621.0234 - mae: 67621.0234 - val_loss: 62650.3164 - val_mae: 62650.3164
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 60164.9023 - mae: 60164.9023 - val_loss: 56585.7734 - val_mae: 56585.7734
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 55049.5898 - mae: 55049.5898 - val_loss: 52956.3906 - val_mae: 52956.3906
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 7ms/step - loss: 52114.8242 - mae: 52114.8242 - val_loss: 51283.5742 - val_mae: 51283.5742
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 50735.0234 - mae: 50735.0234 - val_loss: 50702.6562 - val_mae: 50702.6562
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 50190.9609 - mae: 50190.9609 - val_loss: 50520.4258 - val_mae: 50520.4258
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 50008.8555 - mae: 50008.8555 - val_loss: 50463.8047 - val_mae: 50463.8047
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49938.4922 - mae: 49938.4922 - val_loss: 50441.4102 - val_mae: 50441.4102
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - loss: 49890.7266 - mae: 49890.7266 - val_loss: 50412.1797 - val_mae: 50412.1797
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49864.8203 - mae: 49864.8203 - val_loss: 50405.9922 - val_mae: 50405.9922
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49837.6797 - mae: 49837.6797 - val_loss: 50398.2383 - val_mae: 50398.2383
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49818.1719 - mae: 49818.1719 - val_loss: 50392.1016 - val_mae: 50392.1016
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49800.3320 - mae: 49800.3320 - val_loss: 50377.8516 - val_mae: 50377.8516
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49785.0586 - mae: 49785.0586 - val_loss: 50371.4375 - val_mae: 50371.4375
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49766.0156 - mae: 49766.0156 - val_loss: 50364.4453 - val_mae: 50364.4453
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49751.2578 - mae: 49751.2578 - val_loss: 50369.1133 - val_mae: 50369.1133
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49737.3906 - mae: 49737.3906 - val_loss: 50364.9531 - val_mae: 50364.9531
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 7ms/step - loss: 49727.5938 - mae: 49727.5938 - val_loss: 50366.2578 - val_mae: 50366.2578
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 7ms/step - loss: 49711.1797 - mae: 49711.1797 - val_loss: 50360.1797 - val_mae: 50360.1797
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49698.8047 - mae: 49698.8047 - val_loss: 50376.5156 - val_mae: 50376.5156
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49688.4453 - mae: 49688.4453 - val_loss: 50378.7734 - val_mae: 50378.7734
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49678.2695 - mae: 49678.2695 - val_loss: 50363.1055 - val_mae: 50363.1055
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 7ms/step - loss: 49668.5586 - mae: 49668.5586 - val_loss: 50356.3789 - val_mae: 50356.3789
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 7ms/step - loss: 49661.1133 - mae: 49661.1133 - val_loss: 50364.3320 - val_mae: 50364.3320
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49648.2539 - mae: 49648.2539 - val_loss: 50357.9062 - val_mae: 50357.9062
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49641.1719 - mae: 49641.1719 - val_loss: 50366.4414 - val_mae: 50366.4414
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49632.9609 - mae: 49632.9609 - val_loss: 50372.4258 - val_mae: 50372.4258
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49623.7461 - mae: 49623.7461 - val_loss: 50361.5469 - val_mae: 50361.5469
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49616.0273 - mae: 49616.0273 - val_loss: 50365.2031 - val_mae: 50365.2031
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49606.6953 - mae: 49606.6953 - val_loss: 50373.5391 - val_mae: 50373.5391
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49600.2891 - mae: 49600.2891 - val_loss: 50365.2188 - val_mae: 50365.2188
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49591.7070 - mae: 49591.7070 - val_loss: 50366.9336 - val_mae: 50366.9336
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49586.1406 - mae: 49586.1406 - val_loss: 50367.4375 - val_mae: 50367.4375

In [73]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [74]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 8484), started 17:41:13 ago. (Use '!kill 8484' to kill it.)

In [75]:
## Evaluate model on the test data
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE : {test_mae}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 50356.3789 - mae: 50356.3789
Test MAE : 50356.37890625

In [76]:
model.save('Regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.